go 1.19

use (
	./ch05-functions/findlinks1
	./ch05-functions/findlinks2
	./ch05-functions/findlinks3
	./ch05-functions/links
	./ch05-functions/outline
	./ch05-functions/outline2
	./ch08-goroutines-channels/crawl1
	./ch08-goroutines-channels/crawl2
	./ch08-goroutines-channels/crawl3
	./ch08-goroutines-channels/thumbnail
)
